.postCard {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  position: relative;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  max-height: 370px;
  min-height: 370px;
  padding: 1rem;
}
.postCard:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  bottom: 5px;
}
.postCard img {
  transform: scale(1) translateY(0);
  transition: all 0.4s;
  object-fit: cover;
}
.postCard:hover img {
  transform: scale(1.4) translateY(-16px);
  object-fit: none;
}
.postCard:hover h4 {
  color: #3b82f6;
}
.postCard .more {
  position: absolute;
  left: -110px;
  transition: all 0.4s;
}
.postCard:hover .more {
  left: 0;
}
